@model KutipWeb.Models.Pickup

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pickup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PickupId" />
            <div class="form-group">
                <label asp-for="BinId" class="control-label"></label>
                <select asp-for="BinId" class="form-control" asp-items="ViewBag.BinId"></select>
                <span asp-validation-for="BinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CollectorId" class="control-label"></label>
                <select asp-for="CollectorId" class="form-control" asp-items="ViewBag.CollectorId"></select>
                <span asp-validation-for="CollectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickupTime" class="control-label"></label>
                <input asp-for="PickupTime" class="form-control" />
                <span asp-validation-for="PickupTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeforePhotoUrl" class="control-label"></label>
                <input asp-for="BeforePhotoUrl" class="form-control" />
                <span asp-validation-for="BeforePhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuringPhotoUrl" class="control-label"></label>
                <input asp-for="DuringPhotoUrl" class="form-control" />
                <span asp-validation-for="DuringPhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfterPhotoUrl" class="control-label"></label>
                <input asp-for="AfterPhotoUrl" class="form-control" />
                <span asp-validation-for="AfterPhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
